@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #800020;
  --color-bg-dark: #230f14;
  --color-bg-light: #f8f5f6;
}

@layer base {
  body {
    @apply bg-bg-light text-slate-900 dark:bg-bg-dark dark:text-slate-100 antialiased;
  }
}

@layer components {
  .glass-panel {
    @apply bg-bg-dark/80 backdrop-blur-md border border-primary/20;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap');
